name: Deploy to EC2

on:
  workflow_run:
    workflows: ["docker-build-push.yml"]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest


    steps:
      - name: SSH deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{secrets.EC2_HOST}}
          username: ${{secrets.EC2_USER}}
          key: ${{secrets.EC2_SSH_KEY}}
          script: |
            docker pull ${{secrets.DOCKER_USERNAME}}/devops-static-site:latest
            docker rm -f website || true
            docker run -d -p 80:80 --name website ${{secrets.DOCKER_USERNAME}}/devops-static-site:latest

