name: Deploy to EC2

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest


    steps:
      - name: SSH deploy to EC2
        uses: appleboy/ssh-action@v1.0
        with:
          host: ${{secrets.EC2_HOST}}
          username: ${{secrets.EC2_USER}}
          key: ${{secrets.EC2_SSH_KEY}}
          scrpts: |
            docker pull ${{secret.DOCKER_USERNAME}}/devops-static-site:latest
            docker rm -f website || true
            docker run -d -p 80:80 --name website ${{secret.DOCKER_USERNAME}}/devops-static-site:latest

